/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/assets/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// The path for robotodraft font files, relative to the built CSS in www/assets/css
$RobotoDraftFontPath: "../lib/robotodraft/fonts" !default;
$RobotoDraftFontName: "RobotoDraft" !default;
$RobotoDraftFontVersion: "1.0.0" !default;

@import
  // Include all of Ionic
  "www/assets/lib/ionic/scss/ionic",

  // Include all of RobotoDraft
  "www/assets/lib/robotodraft/sass/robotodraft",

  // Include all of Ionic Material
  "www/assets/lib/ionic-material/src/scss/index",

  // Include all of Waves
  "www/assets/lib/waves/src/scss/waves";
